<?xml version="1.0"?>
<configuration>
  
  
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MD_Brief_Supplier.Properties.Settings.dBMaheshBricksSupplierConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\dBMaheshBricksSupplier.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>

</configuration>
